.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.dailyhive.com/20200721095816/DH-RockiesLakes.jpg);    
    background-size: cover;
    background-attachment: fixed;    
    background-blend-mode: multiply;
    background-color: #3a5f94;
}


.bg-image-2 {
    width: 100%;
    height: 75vh;
    background-image: url(https://i.pinimg.com/736x/93/79/3b/93793b74d19bd19540cfce18bb5bf72c.jpg);    
    background-size: cover;
    background-attachment: fixed;    
    background-blend-mode: multiply;
    background-color: #3a5f94;
}
